// Grid size
$gutter: 24px;
$nl-width: 600px;


//
// Margin Scale
//
$padding-1: 10px;
$padding-2: 24px;
$padding-3: 32px;
$padding-4: 40px;
$padding-5: 50px;
$padding-6: 60px;

// -------------------------------------------------- 
// Colores - Paleta Global
// --------------------------------------------------  


// Colores Validaciones y Errores
$color-success: #99cc33;
$color-info:#6EA0C6;
$color-warning: #fb7d0c;
$color-danger: #ec3457;

// Colores textos
$color-text-1: #387f7c;
$color-text-2: #009490;
$color-text-3: #444;
$color-text-4: #5e5f5f;
$color-text-5: #999;
$color-text-6: #b3b3b3;

// Colores BG
$color-bg-1: #387f7c;
$color-bg-2: #9ed3d2;
$color-bg-3: #efda5e;
$color-bg-4: #5e5f5f;
$color-bg-5: #edf3f3;

// Colores Bordes
$border-box: #fff;
$color-border-1: #E3E3E3;

