<div class="form__group form__group--addon--right @@validation">
  <input placeholder="placeholder" type="password" class="form__control"  id="input-text-group" >
  <label class="form--material__label" for="input-text-group">@@label</label>
  <div class="form__line"></div>
  <button type="button" class="form__addon js-reveal-pass">        
    <svg class="icon icon--md" role="presentation">
      <use xlink:href="../dist/svg/symbol/svg/sprite.symbol.svg#eye"></use>
    </svg>                
  </button>     
  @@if(context.validation){
    <span class="form__icon" aria-hidden="true">
      <svg class="icon" role="presentation">
          <use xlink:href="../dist/svg/symbol/svg/sprite.symbol.svg#form-warning"></use>
      </svg>      
    </span>
  }  
  @@if(context.help){
  <div class="form__group__help">
    <ul>
      <li>@@help</li>
    </ul>
  </div>  
  }
     
</div>      
