<!DOCTYPE html>
<!--[if IE 8]>    <html class="ie8 legacy-ie no-js" lang="es"  itemscope itemtype="http://schema.org/Organization"> <![endif]-->
<!--[if IE 9]>    <html class="ie9 legacy-ie no-js" lang="es"  itemscope itemtype="http://schema.org/Organization"><![endif]-->
<!--[if !IE]><!--> <html class="no-legacy-ie no-js" lang="es"  itemscope itemtype="http://schema.org/Organization"> <!--<![endif]-->

    <head>
      
        <meta charset="utf-8">

    <!--[if IE]>        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    
        <title>Basecore</title>
        <meta name="description" content="">
    <meta name="keywords" content="">
    
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
    <meta name="format-detection" content="telephone=no">
    
    
    <!-- IE Clearfix -->
    <!--[if IE]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->
    
    
    <!-- App -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <meta name="google-play-app" content="app-id=googleAppID">
    <!-- /App -->
    

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/critical.js"></script>    
      
      
        <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicon -->
  
    
    <!-- Social Tags -->
    <meta property="og:title" content="Basecore">
    <meta property="og:description" content="Basecore Framework">
    <meta property="og:image" content="">
    <meta property="og:url" content="http://getbasecore.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Basecore">
    <meta name="twitter:image:alt" content="">
    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@website-username">
    <!-- /Social Tags -->
    
    
    <link rel="alternate" hreflang="en" href="/" />    

    <!-- HTML5 IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- /HTML5 IE8 -->
    
    </head>
    <body>    
    